@font-face {
    font-family: "SF Pro Display";
    src: url("../fonts/SFProDisplay-Regular.ttf");
}

@font-face {
    font-family: "Inter";
    src: url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
}
