@import 'style/fonts.css';
@import 'style/header.css';
@import 'style/subtitle.css';
@import 'style/card.css';

body {
  margin: 0;
  box-sizing: border-box;
}

.SF-font {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: normal;
}

.container-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1440px;
  margin: 15px 54px;
}
