@import 'style/fonts.css';
@import 'style/header.css';
@import 'style/subtitle.css';
@import 'style/card.css';

body {
  margin: 0;
  box-sizing: border-box;
}


.SF-font {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: normal;
}

